<head>
    <link rel="stylesheet" type="text/css" href="./suprafete.component.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>

<div class="col-md-3 col-md-offset-4">

<select (change)="incarcaJudet()"  id="selectJudet">
    <br>
    <option style="display: none"></option>
    <option  *ngFor="let judet of suprafete" id={{judet._id}}>
        {{judet.Judet}}
    </option>
</select>
</div>

<div id="chart_div">
</div> 

<div id="chart_ro">
</div>

</body>
 


