<head>
    <link rel="stylesheet" type="text/css" href="./suprafete.component.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>

<div  class="select" style="position: fixed;">
<h3> Alege judet</h3>
<hr>
<select (change)="incarcaJudet()"  id="selectJudet">
    <option style="display: none"></option>
    <option  *ngFor="let judet of suprafete" id={{judet._id}}>
        <div *ngIf="judet._id!=43">
            {{judet.Judet}}
        </div>
    </option>
</select>
</div>

<div   id="chart_div" style="margin-left:20%;margin-right:20%">
</div> 



<div class="buttons">
    <button (click)="incarcaRO()">Diagrama Romaniei</button>
    <button (click)="incarcaSupr()">Vezi dinamica urban/rural</button>
    <button (click)="incarcaVz()">Vezi dinamica vanzarilor de imobile</button>
    <button (click)="incarcaCrim()">Vezi date de criminalitate</button>
</div>
</body>
 


